html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #6b1a34, #fb6734);
}

.card {
  width: 420px;
  background: rgb(219, 219, 219);
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
  text-align: center;
}

img {
  width: 100%;
  max-width: 300px;
  border-radius: 12px;
  margin: 15px 0;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.12);
}
/* Aunque en realidad no agregué más H1*/
h1 {
  color: green;
  margin: 10px 0;
}

.blue {
  color: #0e6873;
}

#red {
  color: #95122c;
  font-size: 32px;
  font-weight: bold;
}

#clickeable {
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
}
#clickeable:hover {
  color: #fb6734;
}
